
<li> 

<div class="jonestitle"> <h1><%=image_tag(image_path("#{country.name}.jpg"), alt: "#{country.name}", class: "countryimage" )%>
<%= link_to_unless_current country.name, country %></h1> 
</div>
</li>

