<% provide(:title, 'All Countries') %>
<div class="jonestitle"> <h1>All Countries</h1> </div>

<div class="container-fluid">

<%= will_paginate %>
<ul class="countries">
	<% for country in @countries %>
	<%=image_tag(image_path("#{country.name}.jpg"), alt: "#{country.name}", class: "countryimage" )%>
  <%= link_to country.name, country_path(country) %> <br>
<% end %>
</ul>
<%= will_paginate %>	


</div>
