<% provide(:title, @country.name) %>
<ul class="countries">
 <p id="notice"><%= notice %></p>

 <%= render @country %>

 <%= link_to 'Edit', edit_country_path(@blog) %> |
 <%= link_to 'Back', countries_path %>

</ul>
